block content
        div#gameInitial
            div#enterRoom
                input(type="text", id="roomInput", placeholder="enter room ID")
                br
                button#submitRoomNumber.gameButtons Enter Room...
            div#initialButtons
                button#newGameButton.gameButtons New Game
                button#manageQuestions.gameButtons Manage Questions & Catagories
