block content 
        div#gameInitial 
            div#enterRoom 
                input(type="text", id="roomInput", value="temproom")
                input(type="text", id="catInput", value="tempCat")
                input(type="text", id="playerInput", placeholder="# of players")
                input(type="text", id="gamesInput", placeholder="# of Games")                          
            div#initialButtons 
                button#newGameSubmitButton.gameButtons New Game 
                button#cancelQuestions.gameButtons cancel
