block content 
        div#gameInitial 
            div#enterRoom 
                
                input(type="text", id="roomInput" value="temproom")
                select#CatList.catlists(size=16 onChange="moveToMyList()")
                    option(value=-1 )
                select#myCatList.catlists(size=16 onChange="moveToList()")
                    option(value=-1 )                      
                input(type="text", id="playerInput", placeholder="# of players")
                input(type="text", id="gamesInput", placeholder="# of Games")                          
                br
                br
            div.container
                div.row
                    div.col-sm-4.col-md-offset-3
                        button#newGameSubmitButton.btn-info Create Game 
                    div.col-sm-4
                        button#cancelQuestions.btn-info Cancel
             
