block content
    div#displayquestion
        p = the question
    div#answer
       each val in questionList
            div(class="col-md-6")
                = +btn-primary(val)(onclick='chosenAnswer(val)')
