block content
    div#displayQuestion
        p#question
    div#playerResponse
            div#enterAnswer 
                input(type="text", id="playerAnswer" value="")                                               
            div#submitButton 
                button#submitAnswer.btn-info Submit 


    div.wrapper
            div.pie.spin
            div.pie.filler
            div.mask