block content
    div#displayQuestion
        p#question
    div#playerResponse
            div#enterAnswer 
                input(type="text", id="playerAnswer" value="")                                               
            div#submitButton.btn-info
                button#submitAnswer.gameButtons Submit 


    div.wrapper
            div.pie.spin
            div.pie.filler
            div.mask