style
      include ../public/stylesheets/spinner.css

div#roomnametitle
div#listPlayers
        div#listPlayers_title Players
        div#playerlist
div#continueToPick

.spinner
  - var n = 0
  
  while n < 100
    i
      b
    -n++