extends layout

block content
    .container
        h1 Add Category Form
        include ./includes/messages.pug
        form(method='post', action='/create/addcqa')
            .form-group
                label Category
                input.form-control(type='text', name='catName', placeholder='Category Name', required)
            button.btn.btn-primary(type='submit') Save Category