extends layout

block content
    .container
        h1 Add Category Form
        //include ./includes/messages.pug
        form(method='post', action='/create/addCategory')
            .form-group
                label Category
                <select>#addCategory
                    <option>
                input.form-control(type='text', id='categoryName', name='categoryName', placeholder='Category Name', required)
            button.btn.btn-primary(type='submit') Save Category       