extends layout

block content
    //script.function to return categoryName
        //create a var for the database
    .container
        h1 Add Question Form
        //include ./includes/messages.pug
        form(method='post', action='/create/addQuestionAnswer')
            .form-group
                //- label Category
                //- <select>#addCategory
                //-     <option>
                label Category
                input.form-control(type='text', name='categoryName', placeholder='Category', required)
                br
                label Question
                input.form-control(type='text', name='question', placeholder='Question', required)
                br
                label Answer
                input.form-control(type='text', name='answer', placeholder='Answer', required)
            button.btn.btn-primary(type='submit') Save Question and Answer