extends layout

block content
    .container
        h1 Delete Question and Answer Form
        //include ./includes/messages.pug
        form(method='post', action='/delete/questionAnswer')
            .form-group
                label Question
                    select.form-control(type='select', name='question')#question
                        each q in questions
                            option(value=q.question) #{q.categoryName + ": " + q.question}
                //br
                //label Question
                //input.form-control(type='text', id='question', name='question', placeholder='Question')
            button.btn.btn-primary(type='Delete Question') Delete Question