extends layout

block content
    .container
        h1 Delete Form
        //include ./includes/messages.pug
        form(method='post', action='/create/delete')
            .form-group
                //- label Category
                //- <select>#addCategory
                //-     <option>
                label Category
                input.form-control(type='text', id='catergoryName', name='categoryName', placeholder='Category', required)
                br
                label Question
                input.form-control(type='text', id='question', name='question', placeholder='Question')
                br
                label Answer
                input.form-control(type='text', id='answer', name='answer', placeholder='Answer')
            button.btn.btn-primary(type='submit') Delete Category, Question, Answer