extends layout

block content
    .container
        h1 Delete Category Form
        form(method='post', action='/delete/category/')
            .form-group
                label Select a Category To Delete
                    select.form-control(type='select', name='categoryName')#category
                        each cat in categories
                            option(value=cat.categoryName) #{cat.categoryName}
            button.btn.btn-primary(type='submit') Delete