extends layout

block content
    head
        link(href='stylesheets/snippet.css', rel='stylesheet')
    body
        div#gameMat
            
    script(src="/javascripts/game.js")
    script(src="/socket.io/socket.io.js")
    //script(src="/javascripts/main.js")