extends layout

block content
  <ul>
    <li><a href='/Category/create'>Add New Category
    <li><a href='/Question/create'>Add New Question and Answer
    <li><a href='/Find/create'>Find Category/Question/Answer
    <li><a href='/Delete/QuestionAnswer'>Delete Question/Answer
    <li><a href='/Delete/Category'>Delete Category
    <li><a href='/Update/QuestionAnswer'>Update Question/Answer
  </ul>

  form(method='get', action='/get/categories')
    button.btn.btn-primary(type='Get Categories') Get Categories


    //- a.btn.btn-default.btn-sm(href='/create') Add New Category
    //- br
    //- br
    //- <ul id="menu">
    //-   <li>
    //-     //<input id="check01" type="checkbox" name="menu"/>
    //-     <label for="Categories">Categories</label>
    //-     <ul class="submenu">
    //-       <li><a href="/create">Add New Category</a></li>
    //-       <li><a href="#">populate with categories</a></li>
    //-     </ul>
    //-   </li>
    //-   br
    //-   br
    //-   <li>
    //-     //<input id="check02" type="checkbox" name="menu"/>
    //-     <label for="Questions">Questions</label>
    //-     <ul class="submenu">
    //-       <li><a href="/create">Add New Question</a></li>
    //-       <li><a href="#">populate with questions</a></li>
    //-       <li><a href="#">populate with questions</a></li>
    //-     </ul>
    //-   </li>
    //- </ul>

    //- li.dropdown.btn.btn-default
    //-   span.glyphicon.glyphicon-th-list
    //-     |  Select Categories
    //-     span.caret
    //-   ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
    //-       li #addCategory
    //-         a(href='/create') Add a Category
    //-       li #selectCategory
    //-         a(href="#") another action
    //- br
    //- br
    //- li.dropdown.btn.btn-default
    //-   span.glyphicon.glyphicon-th-list
    //-     |  Select Question
    //-     span.caret
    //-   ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
    //-       li className="button-dropdown"
    //-         a(href="#") Add a Question
    //-       li className="button-dropdown"
    //-         a(href="#") another action