extends layout

block content
  <ul>
    <li><a href='/Category/create'>Add New Category
    <li><a href='/Question/create'>Add New Question and Answer
    <li><a href='/Find/create'>Find Category/Question/Answer
    <li><a href='/Delete/QuestionAnswer'>Delete Question/Answer
    <li><a href='/Delete/Category'>Delete Category
    <li><a href='/Update/QuestionAnswer'>Update Question/Answer
  </ul>
  br
  br
  form(method='post', action='/delete/questionAnswer')
    .form-group
      table
        each q in questions
            tr#q_list_item    
              td #{q.question}
