extends layout

block content
  <ul>
    <li><a href='/Category/create'>Add New Category
    <li><a href='/Question/create'>Add New Question and Answer
    <li><a href='/Find/create'>Find Category/Question/Answer
    <li><a href='/Delete/QuestionAnswer'>Delete Question/Answer
    <li><a href='/Delete/Category'>Delete Category
    <li><a href='/Update/QuestionAnswer'>Update Question/Answer
  </ul>
  <br>
  <br>
  <div>
    <li>
  </div>
